@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
}
body {
    font-family: Roboto, Arial;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: black;
    /*padding maybe */
}

h1, h2, h3 {
  margin-bottom: 16px;
}

h2 {
  text-decoration: underline;
  
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: underline;
  color: white;
}

ul {
  list-style: none;
}

nav {
  background-color: #beefff;
  position: fixed;
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  display: flex; /* added this line */
  align-items: center; /* added this line */
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* added this line */
}

nav ul div {
  display: flex;
  align-items: center;
  margin-right: 50px; /* Adjusted the margin property */
}

nav ul div img {
  margin: 0 10px;
  height: 35px;
  width: auto;
}


#heading {
  padding-top: 10%;
  text-align: center;
}

#heading h1 {
  font-size: 3em;
}

.name {
  display: inline-block;
  background-image: linear-gradient(90deg, black 25%, #00f7ff 37.5%, #001aff, #061889 62.5%, black 75%);
  background-position: right center;
  background-size: 400% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 200ms linear;
}

.name:hover {
  background-position: left center;
  transition: background-position 2500ms ease-out;
}

section {
  padding: 10px 30px;
  margin-bottom:30px;
}

.skills {
  background-color: #edeeef;
  padding: 20px;
  margin: 0px 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.skills-section {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second-column {
  margin-left: 20%; /* Adjust the space between the columns */
}

.skills h2,
.skills h3 {
  text-align: center;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #beefff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.skills li img {
  height: 40px;
  width: auto;
  margin: 10px;
}

.note {
  position: relative;
  bottom: 0;
  right: 0;
}

@keyframes rainbow {
  0% { color: #ff0000; }
  5% { color: #ff4000; }
  10% { color: #ff8000; }
  15% { color: #ffbf00; }
  20% { color: #ffff00; }
  25% { color: #80ff00; }
  30% { color: #00ff40; }
  35% { color: #00ff80; }
  40% { color: #00ffbf; }
  45% { color: #00ffff; }
  50% { color: #0080ff; }
  55% { color: #0000ff; }
  60% { color: #4000ff; }
  65% { color: #8000ff; }
  70% { color: #bf00ff; }
  75% { color: #ff00ff; }
  80% { color: #ff00bf; }
  85% { color: #ff0080; }
  90% { color: #ff0040; }
  95% { color: #ff0000; }
  100% { color: #ff4000; }
}

/*#f2f2f2*/